*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
app/build.gradle
.idea/compiler.xml
app/lombok.config
app/proguard-rules.pro
gradle.properties
settings.gradle
gradlew
gradlew.bat
app/src/androidTest/java/weather/com/weatherapp/ExampleInstrumentedTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
